/* customize checkout modal */
.kn-modal-bg {
  background-color: hsla(0, 0%, 20%, .86);
}

.product-image {
  float: left;
  width: 20%;
}
.product-details {
  float: left;
  width: 35%;
}
.product-price {
  float: left;
  width: 12%;
}
.product-quantity {
  float: left;
  width: 10%;
}
.product-removal {
  float: left;
  width: 9%;
}
.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.product .product-image {
  text-align: center;
}

.product .product-image img {
  width: 150px;
}

.product .product-details .product-title {
  margin-right: 20px;
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}

.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}

.product .product-quantity input {
  width: 40px;
}

.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
  font-size: 12px;
  border-radius: 3px;
}

.product .remove-product:hover {
  background-color: #a44;
  cursor: pointer;
}